.document .contents .topic-title {
	font-size: 25px;
}

.document .contents ul {
	list-style-type: decimal;
}

.document .label {
	color: black;
}

.document blockquote {
	/* reverse the weird big font from bootstrap */
	font-size: 14px;
}
